<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>百科图鉴</title>
    <link rel="icon" type="image/x-icon" href="/Projdemo/static/img/logo.png" th:href="@{/img/logo.png}"/>
    <link rel="stylesheet" type="text/css" href="/Projdemo/static/dist/semantic.css" th:href="@{/dist/semantic.css}">
    <script src="/Projdemo/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="/Projdemo/static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>

    <!-- Site Specified Style and Script -->
    <link rel="stylesheet" type="text/css" href="/Projdemo/static/css/common.css" th:href="@{/css/common.css}">
    <script src="/Projdemo/static/js/common.js" th:src="@{/js/common.js}"></script>
</head>

<body>

<!-- 通用顶部栏 header 片段 -->
<div th:fragment="common_header" class="ui fixed brown large borderless menu">
    <div class="ui container">
        <div class="header item">
            <img class="proj icon" src="/Projdemo/static/img/cjjpsz.png" th:src="@{/img/cjjpsz.png}" alt="Logo">
            原神Wiki
        </div>
        <a href="mainpage.html" class="header item">
            首页
        </a>
        <a class="right item">
            <div class="ui icon input">
                <i class="search icon"></i>
                <input type="text" placeholder="Search...">
            </div>
        </a>
        <a href="/logout" class="item">
            <div class="ui logout icon">登出</div>
            <i class="sign out alternate icon"></i>
        </a>
    </div>
</div>

<div class="ui main container">
    <div class="ui stackable grid">

        <div class="ui four wide column">
            <!-- 通用左侧菜单 menu 片段， index 为传递进来的参数 -->
            <div th:fragment="common_menu(index)" class="ui container">
                <div class="ui fluid card">
                    <div class="ui centered image">
                        <img src="/Projdemo/static/img/title2.png"
                             th:src="@{/img/head_user.jpg}"
                             alt="Avatar">
                    </div>
                </div>
                <div class="ui vertical fluid stackable menu container">
                    <a th:class="${index}==1?'active red item':'item'" class="item" href="Encyclopedia.html">
                        <font size="4px">
                            <b>百科图鉴</b>
                        </font>
                        <i class="large book icon"></i>
                    </a>
                    <a th:class="${index}==2?'active red item':'item'" class="item" href="calculator.html">
                        <font size="4px">
                            <b>养成计算</b>
                        </font>
                        <i class="large calculator icon"></i>
                    </a>
                    <a th:class="${index}==3?'active red item':'item'" class="item" href="news.html">
                        <font size="4px">
                            <b>游戏资讯</b>
                        </font>
                        <i class="large newspaper outline icon"></i>
                    </a>
                    <a th:class="${index}==4?'active red item':'item'" class="item" href="gacha.html">
                        <font size="4px">
                            <b>抽卡模拟</b>
                        </font>
                        <i class="large gem outline icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="ui twelve wide column">

                <div class="ui one column grid">
                    <div class="computer only tablet only column">
                        <h1 align="center" class="ui computer only header">欢迎来到百科图鉴！</h1>
                    </div>
                </div>
<!--            <div class="ui form message">-->
<!--                <img class="ui big centered circular image" src="/Projdemo/static/img/ver1.5.jpg">-->
<!--                &lt;!&ndash;                    <div class="container column"></div>&ndash;&gt;-->
<!--            </div>-->
            <div class="ui raised segment">

                <h2 class="ui header">
                    <i class="user circle icon"></i>
                    <div class="content">
                        角色
                    </div>
                </h2>


                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="wuxing">
                        五星
                    </a>
                    <a class="item" data-tab="sixing">
                        四星
                    </a>

                    <div class="right menu">
                        <div class="item">
                            <div style="float: right">
                                <a href="Encyclopedia.html">查看更多</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui botton attached tab segment" data-tab="wuxing">
                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_youla2.png">
                                </div>
                                <div class="content">
                                    <a class="header">优菈</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_hutao.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">胡桃</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_xiao.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">魈</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_ganyu.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">甘雨</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_abeiduo.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">阿贝多</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_zhongli.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">钟离</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_dadaliya.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">达达利亚</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_keli.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">可莉</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_wendi.png">
                                </div>
                                <div class="content">
                                    <a class="header">温迪</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_keqing.png">
                                </div>
                                <div class="content">
                                    <a class="header" href="https://google.com">刻晴</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_mona.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">莫娜</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_qiqi.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">七七</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_diluke.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">迪卢克</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_qin.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">琴</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ui botton attached tab segment" data-tab="sixing">
                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_yanfei.png">
                                </div>
                                <div class="content">
                                    <a class="header">烟绯</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_rosalia.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">罗莎莉亚</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_xinyan.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">辛焱</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_diaona.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">迪奥娜</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_shatang.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">砂糖</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_chongyun.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">重云</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_noaier.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">诺艾尔</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_bannite.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">班尼特</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_feixieer.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">菲谢尔</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_ningguang.jpg">
                                </div>
                                <div class="content">
                                    <a class="header" href="https://google.com">凝光</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ui five column grid">
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_xingqiu.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">行秋</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_beidou.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">北斗</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_xiangling.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">香菱</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_leize.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">雷泽</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img src="/Projdemo/static/img/character/icon_babala.jpg">
                                </div>
                                <div class="content">
                                    <a class="header">芭芭拉</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                <h3 class="ui header">
                    <i class="gavel icon"></i>
                    <div class="content">
                        武器
                    </div>
                </h3>

            </div>
            <form class="ui form" th:action="@{/application}" method="post" enctype="multipart/form-data">
                <!--                    <div class="field">-->
                <!--                        <label for="teammates">选择你的队友</label>-->
                <!--                        <select th:object="${project}" type="text" id="teammates" name="teammates"-->
                <!--                                class="ui fluid search dropdown" multiple>-->
                <!--                            <option th:each="student:${students}"-->
                <!--                                    th:value="${student.uid}"-->
                <!--                                    th:text="${student.name} + ' ' + ${student.uid}">-->
                <!--                            </option>-->
                <!--                        </select>-->
                <!--                    </div>-->
                <div class="field">
                    <label for="profile">
                        <b>留下你的评论吧</b>
                    </label>
                    <textarea th:object="${project}" type="text" id="profile" name="profile" maxlength="200"></textarea>
                </div>
                <!--                    <div class="field">-->
                <!--                        <label for="file-button">上传附件</label>-->
                <!--                        <div class="ui file action input">-->
                <!--                            <label for="file-name"></label>-->
                <!--                            <input type="file" id="file" name="file" autocomplete="off">-->
                <!--                            <input type="text" id="file-name" name="file-name" readonly>-->
                <!--                            <div class="ui button" id="file-button">选择文件</div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <input type="submit" value="确认提交" class="ui fluid large blue submit button"/>
            </form>

        </div>
    </div>
</div>


<!-- 通用底部 footer 片段 -->
<div th:fragment="common_footer" class="ui vertical footer segment">
    <div class="ui center aligned container">
        <p>
            Copyright © 2021 Temper.
        </p>
        <p>
            All rights reserved.
        </p>
        <div class="ui header">
            <a href="https://github.com/Abyss-of-Dragon/Cjjpsz" class="ui centered image">
                <i class="large grey github icon"></i>
            </a>
        </div>
    </div>
</div>
</body>

</html>
