<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>登录</title>
    <link rel="icon" type="image/x-icon" href="/Projdemo/static/img/logo.png" th:href="@{/img/logo.png}"/>
    <link rel="stylesheet" type="text/css" href="/Projdemo/static/dist/semantic.min.css" th:href="@{/dist/semantic.min.css}">
    <script src="/Projdemo/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="/Projdemo/static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>

    <!-- Page Specified Style and Script -->
    <link rel="stylesheet" type="text/css" href="/Projdemo/static/css/login.css" th:href="@{/css/login.css}">
    <script src="/Projdemo/static/js/login.js" th:src="@{/js/login.js}"></script>
</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">

        <!--/*@thymesVar id="user" type="com.entity.User"*/-->
        <form  th:action="@{/login}" th:object="${user}"  th:method="post" class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid large blue submit button" th:type="submit">登录</div>
            </div>
            <div class="ui error message"></div>
        </form>

        <div class="ui message">
            什么，第一次来吗？(。・∀・)ノ <a href="register.html">注册</a>！
            <div id="result-msg"></div>
            <script>
                window.onload = () => {
                    let param = new URLSearchParams(window.location.search);
                    if (param.has("result") && param.get("result") == "WrongPassword") {
                        alert("Wrong password");
                    }

                    else if(param.has("result") && param.get("result") == "UserNotFound"){
                        alert("User not found");
                    }
                }
            </script>
        </div>

    </div>
</div>
</body>
</html>