# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\files\office\grade2_2\Software Engineering practice\Cjjpsz\assignments\Lab5A2_姜睿宇_10195101443\Sub_Pub2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
