<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
  <!-- Standard Meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>百科图鉴-角色-阿贝多</title>
  <link rel="icon" type="image/x-icon" href="/Projdemo/static/img/logo.png" th:href="@{/img/logo.png}"/>
  <link rel="stylesheet" type="text/css" href="/Projdemo/static/dist/semantic.css" th:href="@{/dist/semantic.css}">
  <script src="/Projdemo/static/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
  <script src="/Projdemo/static/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>

  <!-- Site Specified Style and Script -->
  <link rel="stylesheet" type="text/css" href="/Projdemo/static/css/common.css" th:href="@{/css/common.css}">
  <script src="/Projdemo/static/js/common.js" th:src="@{/js/common.js}"></script>
</head>

<body>

<!-- 通用顶部栏 header 片段 -->
<div th:fragment="common_header" class="ui fixed brown large borderless menu">
  <div class="ui container">
    <div class="header item">
      <img class="proj icon" src="/Projdemo/static/img/cjjpsz.png" th:src="@{/img/cjjpsz.png}" alt="Logo">
      原神Wiki
    </div>
    <a href="mainpage.html" class="header item">
      首页
    </a>
    <a class="right item">
      <div class="ui icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search...">
      </div>
    </a>
    <a href="login.html" class="item">
      <div class="ui logout icon">登出</div>
      <i class="sign out alternate icon"></i>
    </a>
  </div>
</div>

<div class="ui main container">
  <div class="ui stackable grid">

    <div class="ui ten wide column">
      <!--            &lt;!&ndash; 通用左侧菜单 menu 片段， index 为传递进来的参数 &ndash;&gt;-->
      <!--            <div th:fragment="common_menu(index)" class="ui container">-->
      <div class="ui raised segment">
        <table class="ui celled structured table">
          <thead>
          <tr>
            <th colspan="3">
              <h3 align="center">阿贝多</h3>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td rowspan="4" class="collapsing">
              <img class="ui small image" src="/Projdemo/static/img/character/icon_abeiduo.jpg">
            </td>
            <td class="collapsing">
              <b>所属</b>
            </td>
            <td>西风骑士团</td>
          </tr>
          <tr>
            <td class="collapsing">
              <b>神之眼</b>
            </td>
            <td>岩</td>
          </tr>
          <tr>
            <td class="collapsing">
              <b>武器类型</b>
            </td>
            <td>单手剑</td>
          </tr>
          <tr>
            <td class="collapsing">
              <b>命之座</b>
            </td>
            <td>白垩之子座</td>
          </tr>
          <tr>
            <td colspan="3">
              <p><b>角色介绍:</b> 「炼金」这门技术历史悠久，且已严重失传。如今，广为人知的那些炼金技法只够用来拼接物件碎块,起到一些节省胶水钱的作用罢了。</p>
              <p>如果听见别人这么说，炼金术士们一定会大喊：这门学问才没那么不堪！</p>
              <p>可惜在蒙德民众眼里，这差不多就是炼金术的本质了。</p>
              <p>直到有一天，阿贝多突然出现并定居在蒙德城。</p>
              <p>这位年轻人，以其惊人技术为大家揭露了炼金术的真正境界。</p>
              <p>连须弥教令院都未能掌握的庞大知识体系，被这名少年娓娓道来。</p>
              <p>「宇宙——即颠倒之天。地层一一乃是时间都忘记的梦。这是灰，是生命这种复杂结构的最简状态。」</p>
              <p>像是为了佐证这一神妙说法，阿贝多捧起草史莱姆头顶花朵烧出的灰烬。几秒之后，他手中的灰堆里开出了一朵塞西莉亚花。</p>
              <p>「这是新生。」</p>
            </td>
          </tr>
          </tbody>
        </table>
        <table class="ui celled table">
          <thead>
          <tr>
            <th colspan="2">
              <h3 align="center">基础属性</h3>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><b>攻击方式</b></td>
            <td>近战</td>
          </tr>
          <tr>
            <td><b>生命值</b></td>
            <td>1030</td>
          </tr>
          <tr>
            <td><b>攻击力</b></td>
            <td>43</td>
          </tr>
          <tr>
            <td><b>防御力</b></td>
            <td>68</td>
          </tr>
          <tr>
            <td><b>元素精通</b></td>
            <td>0</td>
          </tr>
          <tr>
            <td><b>暴击率</b></td>
            <td>5.0%</td>
          </tr>
          <tr>
            <td><b>暴击伤害</b></td>
            <td>50.0%</td>
          </tr>
          <tr>
            <td><b>治疗加成</b></td>
            <td>0.0%</td>
          </tr>
          <tr>
            <td><b>受治疗加成</b></td>
            <td>0.0%</td>
          </tr>
          <tr>
            <td><b>元素充能效率</b></td>
            <td>100.0%</td>
          </tr>
          </tbody>
        </table>

        <table class="ui celled table">
          <thead>
          <tr>
            <th>
              <h3 align="center">命之座</h3>
            </th>
          </tr>
          </thead>
        </table>
        <div class="ui grid">
          <div class="four wide column">
            <div class="ui vertical fluid tabular menu">
              <a class="item active" data-tab="1">
                伊甸之花
              </a>
              <a class="item" data-tab="2">
                显生之宙
              </a>
              <a class="item" data-tab="3">
                太阳之华
              </a>
              <a class="item" data-tab="4">
                神性之陨
              </a>
              <a class="item" data-tab="5">
                冥古之潮
              </a>
              <a class="item" data-tab="6">
                无垢之土
              </a>
            </div>
            <!--                        <div class="ui twelve wide stretched segment" data-tab="1">-->
            <!--                            <div class="text">消耗冰潮的涡旋的冷酷之心效果后，优莅的物理伤害加成提高30%，持续6秒，每消耗一层冷酷之心，都会使这个效果的持续时间延长6秒，最多不会超过18秒。-->
            <!--                            </div>-->
            <!--                        </div>-->
          </div>
          <div class="twelve wide stretched column ">
            <div class="ui tab segment" data-tab="1">
              <p>阿贝多的创生法·拟造阳华生成的刹那之花绽放时，为阿贝多自己恢复1.2元素能量</p>
            </div>
            <div class="ui tab segment" data-tab="2">
              <p>创生法·拟造阳华的刹那之花绽放时，会为阿贝多赋予生灭计数效果，持续30秒：</p>
              <p>·施放诞生式·大地之潮时，清除所有生灭计数效果，并根据清除的层数，提高诞生式·大地之潮的爆发伤害与生灭之花造成的伤害；</p>
              <p>·每层生灭计数，会提高等同于阿贝多防御力的30%的伤害</p>
              <p>·该效果至多叠加4次；</p>
            </div>
            <div class="ui tab segment" data-tab="3">
              创生法·拟造阳华的技能等级提高3级。至多提升至15级。
            </div>
            <div class="ui tab segment" data-tab="4">
              处于阳华的领域中的队伍中当前场上角色，造成的下落攻击伤害提高30%
            </div>
            <div class="ui tab segment" data-tab="5">
              诞生式·大地之潮的技能等级提高3级。至多提升至15级
            </div>
            <div class="ui tab segment" data-tab="6">
              处在阳华的领域中的队伍中当前场上角色，若处于结晶反应产生的护盾庇护下，造成的伤害提高17%
            </div>
          </div>
        </div>

        <table class="ui celled table">
          <thead>
          <tr>
            <th>
              <h3 align="center">战斗天赋</h3>
            </th>
          </tr>
          </thead>
        </table>
        <div class="ui six pointing menu">
          <a class="item active" data-tab="normal">西风剑术·白</a>
          <a class="item" data-tab="special">创生法·拟造阳华</a>
          <a class="item" data-tab="clutch">诞生式·大地之潮</a>
          <a class="item" data-tab="gift1">白垩色的威压</a>
          <a class="item" data-tab="gift2">瓶中人的天慧</a>
          <a class="item" data-tab="gift3">天才的发现</a>
        </div>
        <div class="ui tab segment" data-tab="normal">
          <p><b>普通攻击</b></p>
          <p>进行至多五段的连续剑击。</p>
          <p><b>重击</b></p>
          <p>消耗一定体力,瞬间向前方挥出两剑。</p>
          <p><b>下落攻击</b></p>
          <p>从空中下坠冲击地面，攻击下落路径上的敌人，并在落地时造成范围伤害。</p>
        </div>
        <div class="ui tab segment" data-tab="special">
          <p>炼成阳华，造成岩属性范围伤害。</p>
          <p><b>阳华</b></p>
          <p>具有如下特性：</p>
          <p>· 以阳华为中心的领域中的敌人受到伤害时，阳华将会生成刹那之花，绽放造成岩属性范围伤害，伤害基于阿贝多的防御力。</p>
          <p>· 每2秒只能生成一次刹那之花。</p>
          <p>· 角色处在阳华上时，阳华将会凝聚岩元素的力量，形成将角色托起至一定高度的晶台。同时只能存在一个晶台。</p>
          <p>· 同时只能存在一个由阿贝多自己创造的阳华，视为岩属性创造物。</p>
          <p><b>长按</b></p>
          <p>可以调整技能生效的位置。</p>
          <p>注：阳华存在时间为30秒，升起的晶台持续5秒后破碎，阳华存在期间可重新升起</p>
          <p><i>这种岩花有着奇异的特性，和炼金术的目的一致。诞生自大地，却一直希望上升至高天，化作太阳。</i></p>
        </div>
        <div class="ui tab segment" data-tab="clutch">
          <p>岩晶在阿贝多的指示下涌动爆发，在阿贝多前方造成岩属性范围伤害。</p>
          <p>场上存在阿贝多自己创造的阳华时，会在阳华的领域内生成7朵生灭之花，猛烈绽放并造成岩属性范围伤害。</p>
          <p>爆发伤害与生灭之花的伤害不会生成刹那之花。</p>
          <br>
          <p><i>在白垩色王子的命令之下，大地的造物之潮翻涌了起来</i></p>
        </div>
        <div class="ui tab segment" data-tab="gift1">
          <p>创生法·拟造阳华的刹那之花对生命值低于50%的敌人造成的伤害提高25%。</p>
        </div>
        <div class="ui tab segment" data-tab="gift2">
          释放诞生式·大地之潮时,使附近的队伍中角色的元素精通提高125点，持续10秒。
        </div>
        <div class="ui tab segment" data-tab="gift3">
          合成武器突破素材时，有10%的概率获得2倍产出。
        </div>
      </div>


      <form class="ui form" th:action="@{/application}" method="post" enctype="multipart/form-data">
        <div class="field">
          <label for="profile">
            <b>留下你的评论吧</b>
          </label>
          <textarea th:object="${project}" type="text" id="profile" name="profile" maxlength="200"></textarea>
        </div>
        <input type="submit" value="确认提交" class="ui fluid large blue submit button"/>
      </form>
    </div>

    <div class="ui six wide column">
      <div class="ui form message">

        <img class="ui image" src="/Projdemo/static/img/character/tachie_abeiduo.jpg">
        <!--                    <div class="container column"></div>-->
      </div>
      <div class="ui vertical fluid stackable sticky menu container">
        <a th:class="${index}==1?'active red item':'item'" class="item" href="Encyclopedia.html">
          <font size="4px">
            <b>百科图鉴</b>
          </font>
          <i class="large book icon"></i>
        </a>
        <a th:class="${index}==2?'active red item':'item'" class="item" href="calculator.html">
          <font size="4px">
            <b>养成计算</b>
          </font>
          <i class="large calculator icon"></i>
        </a>
        <a th:class="${index}==3?'active red item':'item'" class="item" href="news.html">
          <font size="4px">
            <b>游戏资讯</b>
          </font>
          <i class="large newspaper outline icon"></i>
        </a>
        <a th:class="${index}==4?'active red item':'item'" class="item" href="gacha.html">
          <font size="4px">
            <b>抽卡模拟</b>
          </font>
          <i class="large gem outline icon"></i>
        </a>
      </div>


    </div>
  </div>
</div>


<!-- 通用底部 footer 片段 -->
<div th:fragment="common_footer" class="ui vertical footer segment">
  <div class="ui center aligned container">
    <p>
      Copyright © 2021 Temper.
    </p>
    <p>
      All rights reserved.
    </p>
    <div class="ui header">
      <a href="https://github.com/Abyss-of-Dragon/Cjjpsz" class="ui centered image">
        <i class="large grey github icon"></i>
      </a>
    </div>
  </div>
</div>
</body>

</html>
