<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Standard Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>页面 - 通用模板</title>
    <link rel="icon" type="image/x-icon" th:href="${loginUser.getAvatar()}"/>
    <link rel="stylesheet" type="text/css" href="/dist/semantic.css" th:href="@{/dist/semantic.css}">
    <script src="/js/jquery-3.5.1.min.js" th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script src="/dist/semantic.min.js" th:src="@{/dist/semantic.min.js}"></script>

    <!-- Site Specified Style and Script -->
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/common.css}">
    <script src="/js/common.js" th:src="@{/js/common.js}"></script>
    <script src="/js/calculator.js" th:src="@{/js/calculator.js}"></script>
</head>

<body>

<!-- 通用顶部栏 header 片段 -->
<div th:fragment="common_header" class="ui fixed brown large borderless menu">
    <div class="ui container">
        <div class="header item">
            <img class="proj icon" src="/img/cjjpsz.png" th:src="@{/img/cjjpsz.png}" alt="Logo">
            原神Wiki
        </div>
        <a href="/mainpage" class="header item">
            首页
        </a>
        <a class="right item">
            <form style="margin: auto;outline: none" method="get" action="/search" id="searchForm">
                <div class="ui icon input">
                    <i class="search link icon"></i>
                    <input type="text" name="key" placeholder="Search..." onkeypress="(e)=>{if(e.keyCode===13){document.getElementById('searchForm').submit()}}">
                </div>
            </form>
        </a>
        <a class="item" href="/profile" >
            <img class="ui avatar image" th:src="${loginUser.getAvatar()}"
                 alt="Avatar">
        </a>
        <a href="/login" class="item">
            <div class="ui logout icon">登出</div>
            <i class="sign out alternate icon"></i>
        </a>
    </div>
</div>

<div class="ui main container">
    <div class="ui stackable grid">

        <div class="ui four wide column">
            <!-- 通用左侧菜单 menu 片段， index 为传递进来的参数 -->
            <div th:fragment="common_menu(index)" class="ui container">
                <div class="ui fluid card">
                    <div class="ui centered image">
                        <img src="/img/title2.png">
                    </div>
                </div>
                <div class="ui vertical fluid stackable sticky menu container">
                    <a th:class="${index}==1?'active red item':'item'" class="item" href="/Encyclopedia">
                        <font size="4px">
                            <b>百科图鉴</b>
                        </font>
                        <i class="large book icon"></i>
                    </a>
                    <a th:class="${index}==2?'active red item':'item'" class="item" href="/calculator">
                        <font size="4px">
                            <b>养成计算</b>
                        </font>
                        <i class="large calculator icon"></i>
                    </a>
                    <a th:class="${index}==3?'active red item':'item'" class="item" href="/news">
                        <font size="4px">
                            <b>游戏资讯</b>
                        </font>
                        <i class="large newspaper outline icon"></i>
                    </a>
                    <a th:class="${index}==4?'active red item':'item'" class="item" href="/gacha">
                        <font size="4px">
                            <b>抽卡模拟</b>
                        </font>
                        <i class="large gem outline icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="ui twelve wide column">

                <div class="ui one column grid">
                    <div class="computer only tablet only column">
                        <h1 align="center" class="ui computer only header">欢迎来到养成计算器！</h1>
                    </div>
                </div>
            <div class="ui segment">
                <div class="ui two column very relaxed grid">
                    <div class="column">
                        <h3 align="center">武器升级消耗计算器</h3>
                        <div>武器星级
                            <select class="dropdown" id="stars">
                                <option value="5">五星武器</option>
                                <option value="4">四星武器</option>
                                <option value="3">三星武器</option>
                            </select>
                        </div>
                        <br>
                        <div>当前等级
                            <div class="ui small icon input">
                                <input class="containerInput" type="number" id="wlevel1"
                                       oninput="if(value>90)value=90;if(value<0)value=0;if(value.length>2)value=value.slice(0,2)">
                            </div>
                        </div>
                        <br>
                        <div>目标等级
                            <div class="ui small icon input">
                                <input class="containerInput" type="number" id="wlevel2"
                                       oninput="if(value>90)value=90;if(value<0)value=0;if(value.length>2)value=value.slice(0,2)">
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="row line">
                            <div class="col-xs-6">需要经验：<span class="" id="wexp"></span></div>
                            <br>
                            <div class="col-xs-6">需要摩拉：<span class="" id="wmora"></span></div>
                            <br>
                            <div class="col-xs-6 center-row">需要<img style="width: 40px; height: 40px;" src="/img/material/purple-ore.png" />×<span class="" id="wbook"></span>
                            </div>
                        </div>
                    </div>


                    <div class="column">
                        <h3 align="center">角色升级计算器</h3>
                        <br><br>
                        <div>
                        当前等级
                            <div class="ui small icon input">
                                <input input class="containerInput" type="number" id="clevel1"
                                       oninput="if(value>80)value=80;if(value<0)value=0;if(value.length>2)value=value.slice(0,2)">
                            </div>
                        </div>

                        <br>
                        目标等级
                        <div class="ui small icon input">
                            <input input class="containerInput" type="number" id="clevel2"
                                   oninput="if(value>80)value=80;if(value<0)value=0;if(value.length>2)value=value.slice(0,2)">
                        </div>
                        <div class="ui divider"></div>
                        <div class="row line">
                            <div class="col-xs-6">需要经验：<span class="" id="cexp"></span></div>
                            <br>
                            <div class="col-xs-6 center-row">需要<img style="width: 40px; height: 40px;" src="/img/material/purple-book.png" />×<span class="" id="cbook"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ui vertical divider">OR</div>
            </div>

        </div>
    </div>
</div>


<!-- 通用底部 footer 片段 -->
<div th:fragment="common_footer" class="ui vertical footer segment">
    <div class="ui center aligned container">
        <p>
            Copyright © 2021 Temper.
        </p>
        <p>
            All rights reserved.
        </p>
        <div class="ui header">
            <a href="https://github.com/Abyss-of-Dragon/Cjjpsz" class="ui centered image">
                <i class="large grey github icon"></i>
            </a>
        </div>
    </div>
</div>
</body>

</html>
