# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\files\office\grade2_2\Software Engineering practice\Cjjpsz\ProjectCode\v0.1\yuanshenwiki\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
